<h1>
  <strong>Company:</strong>
  <%= @company.name %>
</h1>

<p>
  <strong>Description:</strong>
  <%= @company.description %>
</p>

<h1>New Claim</h1>

<%= render 'claims/form' %>

<h1>Listing Claims</h1>

<table class="table" id="claims">
  <thead>
    <tr>
      <th>Description</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <%= render @claims%>
  </tbody>
</table>


<br>
<%= link_to 'Back', companies_path %>
